/* Classi custom colori */
.bg-custom{
    background: linear-gradient(#8dc0e7e5);
    /* background-color: #8DBDE1; */
}

.bg-custom2{
    background-color: #ABD0F6;
}

/* navbar */




input{
    padding: 10px;
    font: 20px Arial;
    width: 70%;
}